/* ----- estilos globales ---*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------ HTML styles -------*/
html {
    font-size: 62.5%;
}

/* -------- root --------- */
:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 3%, 59%);
    --rubik: 'Rubik', sans-serif;
}

/* ---- Header Styles ----- */
.block {
    background-image: url('../images/pattern-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}

.header {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .three-data {
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}

.header .title {
    font-size: 2.6rem;
    font-family: var(--rubik);
    color: #fff;
    text-align: center;
}

.header .form-search {
    display: flex;
}

.form-search .form-control {
    width: 45rem;
    height: 5rem;
    outline: none;
    font-size: 1.8rem;
    padding: 2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: none;
}

.form-search .btn {
    width: 4.3rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: none;
    background-color: var(--very-dark-gray);
    cursor: pointer;
}

/* ------ container styles -----*/
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    top: 20rem;

}

.container .list-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 12.5rem;
    background-color: #fff;
    border-radius: 1.5rem;
    width: 75%;
    box-shadow: 0 0 3px var(--very-dark-gray);
}

.list-group .list-group-item {
    list-style: none;
    padding: 3rem;
    font-family: var(--rubik);
    font-size: 1.2rem;
    color: var(--dark-gray);
}

.list-group-item .data-location {
    font-size: 2rem;
    color: var(--very-dark-gray);
    font-weight: 700;
    padding-top: 1.5rem;
}

#contain-map {
    height: 70vh;
}

#map {
    height: 100%;
}


/* media queries */
@media (max-width: 1230px) {
    .header {
        height: 50%;
    }
    .header .three-data {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    .header .title {
        font-size: 1.8rem;
    }
    .container {
        top: 18%;
    }
    .form-search .form-control{
        height: 3rem;
        font-size: 1.5rem;
        padding: 2rem;
    }
    .container .list-group {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .list-group .list-group-item {
        padding: 2rem;
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .header {
        height: 50%;
    }
    .header .title{
        font-size: 1.5rem;
    }
    .header .three-data {
        margin-top: 1.5rem;
        margin-bottom: 0rem;
    }
    .container {
        top: 18%;
    }
    .header .form-search{
        width: 75%;
    }
    .form-search .form-control{
        width: 100%;
        height: 3rem;
        font-size: 1rem;
        padding: 1.4rem;
    }
    .form-search .btn{
        width: 3rem;
    }
    .container .list-group {
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .list-group .list-group-item {
        padding: 1rem;
        font-size: 1rem;
    }
    .list-group-item .data-location{
        font-size: 1.2rem;
        padding-top: .5rem;
    }
}